@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h4, p,
a{
    color: black;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.btn {
    width: 122px;
    height: 42px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 7px;
    border: none;
    background: #FE5B49;
  }
  
  .btn-light {
    background: rgba(255, 255, 255, 0.2); 
    color: #FE5B49;
  }
  
  .btn:hover {
    background: rgb(254, 91, 73, 0.8);
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
  }

  .resume-title{
    display: flex;
    width: 176px;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}

.resume-divider{
    width: 59px;
    height: 6px;
    background: #FE5B49;
}

.resume{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}